* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.layout-container {
    display: flex;
    flex-direction: column;
    max-block-size: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #CCD5AE;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
    /* Ensure header is above other content */
}

.logo {
    font-size: 1.5rem;
}

.login-button {
    background-color: #d4a373;
    /* Green background */
    border: none;
    /* Remove border */
    color: white;
    /* White text */
    padding: 10px 20px;
    /* Padding around the text */
    text-align: center;
    /* Center the text */
    text-decoration: none;
    /* Remove underline from links */
    display: inline-block;
    /* Allow width and height */
    font-size: 16px;
    /* Font size */
    margin-left: auto;
    /* Push to the right */
    cursor: pointer;
    /* Pointer cursor on hover */
    border-radius: 4px;

    /* Rounded corners */
    &:hover {
        background-color: #d8b38e;
        /* Darker green background */
    }
}

.main-content {
    margin-top: 80px;
    /* Space for the fixed header */
    padding: 20px;
    /* Padding for main content */
    height: calc(100vh - 80px);
    background-color: #f2efeb;

}