* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Alta, serif;
    min-height: 100vh;
}

.layoutContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #CCD5AE;
    color: white;
    display: flex;
    gap: 50px;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 20px;
    z-index: 1000;

}

.logo {
    font-size: 1.5rem;
    height: 100%;
}

.loginButton {
    background-color: #d4a373;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
        background-color: #d8b38e;
    }
}

.headerButton {
    background-color: #CCD5AE;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    height: 100%;

    &:hover {
        background-color: #dae4ba;
    }

}

.mainContent {
    padding: 20px;
    background-color: #f2efeb;
    flex-grow: 1;

}

.chatbotHeader {
    background-color: #CCD5AE;
    display: flex;
    align-items: center;
    padding: 0 20px;
}