.suggestion-container {
    position: absolute;
    border: 1px solid #ccc;
    background-color: white;
    width: 100%;
    max-height: 120px;
    overflow-y: auto;
    z-index: 1;
}
#sender-suggestion{
    margin-top: 138px;
}
#recipient-suggestion{
    margin-top: 291px;
}
.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}
